extend index

block loadTasks
            form(method="POST", action="/modifytask/:id")
                div(class="flex flex-col w-4/5 mx-auto")
                    div(class="sm:-mx-6.lg:-mx-8")
                        div(class="py-2.inline-block.min-w-full.sm:px-6.lg:px-8")
                        div.overflow-hidden
                            table.min-w-full.text-center
                                thead.border-b.border-gray-950
                                    tr
                                        th(scope="col", class="text-left p-2 text-3xl text-slate-400 font-mono font-medium") Descripcion
                                        th(scope="col", class="p-2 text-3xl text-slate-400 font-mono font-medium") Hecha
                                    tbody
                                        each task in tasks
                                            if task.descripcion != ""
                                                tr.border-b.border-gray-950.bg-violet-400
                                                    td.text-lg.text-gray-900.font-semibold.px-6.py-4.whitespace-nowrap.text-left.font-mono !{task.descripcion}
                                                    td.text-sm.text-gray-900.font-light.px-6.py-4.whitespace-nowrap 
                                                        if !task.hecha
                                                            a(class="font-mono middle none center rounded-lg bg-blue-500 py-2 px-4 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.55] active:shadow-none disabled:pointer-events-none disabled:shadow-none"
  data-ripple-light="true", href=`/modifytask/${task.id}`) Sin hacer
                                  
                footer.grid.justify-end.mt-10
                    a(class="middle none center rounded-lg bg-blue-500 py-2 px-4 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.55] active:shadow-none disabled:pointer-events-none disabled:shadow-none"
    data-ripple-light="true",href="/create") Load Task